body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(210, 46%, 95%);
    font-family: 'Manrope', sans-serif;
    
}

.container {
    max-width: 90%;
    margin: 4em auto;
    background-color: white;
    border-radius: 1em;
    box-shadow: 1px 1px 20px lightgray;
    position: relative;
    
}

.img-container {
    max-width: 100%;
    max-height: 220px;
    overflow: hidden;
}

.img-drawers {
    max-width: 100%;
    overflow: hidden;
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.content {
    padding: 1em 2em;
    
}

h4 {
    color: hsl(217, 19%, 35%);
}

p {
    font-size: 13px;
    letter-spacing: 0.4px;
    line-height: 1.7;
    color: hsl(214, 17%, 51%)
}

.content > p {
    margin-bottom: 2em;
}

.name {
    color: hsl(217, 19%, 35%);
    font-weight: 700;
}



.author {
    display:flex;
    justify-content: space-between;
    align-items: center;
}

.img-author {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

.info {
    flex: 2;
    margin: 0 1em;
    
}

.info p {
    line-height: 0.7;
}

.img-share {
    background-color: hsl(210, 46%, 95%);
    width: 15px;
    height: 15px;
    padding: .5em;
    border-radius: 50%;
    z-index: 100;
}

.share {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: hsl(214, 17%, 51%);
    font-weight: 700;
}



.share-links {
    display: none;
}

.share-links-visible {
    
    padding: 1em 2em;
background-color: hsl(217, 19%, 35%);
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
display: flex;
position: absolute;
bottom: 0px;
right: 0;
left: 0;


}

.img-icon {
    margin: 0.75em 0.5em;
}

@media only screen and (max-width: 320px) {
    .img-icon {
        margin: .5em 0.3em 1.5em 0.3em;
    }
    .share {
        letter-spacing: 2px;
        
    }

    .info {
        margin-right: 0em;
        margin-left: 0.3em;
            
    }

    .info p {
        line-height: 1.1;
        margin-top: 0;
        margin-bottom: 1px;
    }
}

@media only screen and (min-width: 700px) {
    .container {
        display: flex;
        max-width: 80%;
        margin-top: 15em;
        border-radius: 0.5em;
    }
    .img-container {
        max-height: 100%;
        overflow: hidden;
    }
    .img-drawers {
       width: 100%;
       height: 100%;
       object-fit: cover;
       border-top-right-radius: 0;
       border-top-left-radius: 0.5em;
       border-bottom-left-radius: 0.5em;
    }

    h4 {
        font-size: 1.3rem;
    }

    .share-links-visible {
    
    padding: 0.4em 2em;
    background-color: hsl(217, 19%, 35%);
    border-radius: 0.5em;
    display: flex;
    position: absolute;
    bottom: 100px;
    left: 75%;
    right: -70px;
    box-shadow: 1px 10px 10px hsl(212, 52%, 90%);
    max-width: 150px;
    min-width: 140px;
    
    }

    .share-links-visible:before {
        content: "";
        width: 0px;
        height: 0px;
        position: absolute;
        left: 45%;
        bottom: -10px;
        border-left: 10px solid hsl(217, 19%, 35%);
  border-right: 10px solid transparent;
  border-top: 10px solid hsl(217, 19%, 35%);
  border-bottom: 10px solid transparent;
  transform: rotate(-135deg); 
  
    }

}

@media only screen and (min-width: 900px) {
    .container {
        max-width: 800px;
    }

    .share-links-visible{
        left: 80%;
    }
}

